@using Newtonsoft.Json;
@using VnResoure_Test_Intern_Backend.Models.DTO;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col py-3" id="subjectsOfCourse">
            <h3 id="tao">@ViewData["nameOfCourse"]</h3>
            <ol>
                @{
                    List<MonHocDTO> subjectsOfCourse = ViewData["subjectsOfCourse"] != null ? 
                    JsonConvert.DeserializeObject<List<MonHocDTO>>(ViewData["subjectsOfCourse"].ToString()) : 
                    new List<MonHocDTO>();

                    foreach (MonHocDTO monHoc in subjectsOfCourse)
                    {
                        <li>@monHoc.TenMonHoc</li>
                    }
                }
            </ol>
        </div>
        <div class="col col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <h2 class="fs-5 d-none d-sm-inline">Khóa học</h2>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    @{
                        List<KhoaHocDTO> courses = JsonConvert.DeserializeObject<List<KhoaHocDTO>>(TempData.Peek("courses").ToString());
                        foreach (KhoaHocDTO course in courses)
                        {
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-controller="Home" asp-action="GetSubjectsOfIdCourse" asp-route-idCourse="@course.Id">
                                    <span class="ms-1 d-none d-sm-inline">@course.TenKhoaHoc</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
                <hr>
            </div>
        </div>
    </div>
</div>
